<!-- This is the main page -->
<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <link rel="stylesheet" href="/stylesheets/server.css">
</head>

<body>
  <h1>News Aggregator</h1>
  <h2>Slacker</h2>
  <a href="/articles">Articles</a>
  <a href="/">Main Page</a>
</body>
</html>
