<!-- This is the main page -->
<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <link rel="stylesheet" href="/stylesheets/server.css">
</head>

<body>
  <h2 class="maintop">WASTE TIME EFFECTIVELY</h2>
  <h1 id="mainpage">News Aggregator</h1>
  <h2>Slacker</h2>
  <img src='https://pixabay.com/get/e835b30820f3073ed1534705fb0938c9bd22ffd41db8164590f1c27caf/news-1027876_1920.jpg' alt="A picture of clay man reading Newspaper." id="main-photo"/>
</body>

<footer>
  <h3>
    <a href="/articles">Articles</a>
    <a href="/articles/new">Submit New Article</a>
  </h3>
</footer>
</html>
