body {
  background-color: white;
  text-align: center;
  margin: auto;
}

h1, h2, h4, div{
  color: black;
}

a {
  color: black;
  text-decoration: none;
}


a:hover {
  color: #2C5E2E;
  text-decoration: underline;
}

footer, a{
  margin-left: 15px;
}

table {
  display:inline-table;
  border-color: cornflowerblue;
  border-style: solid;
}

.bottom-links {
  padding-top: 30px;
}

.maintop {
  border-bottom: solid;
  background: linear-gradient(#000046, #1CB5E0);
  margin: auto;
  height: 50px;
  display: block;
  padding-top: 25px;
}

#mainpage {
  padding-top: 100px;
}

#main-photo{
  width: 400px;
  height: 400px;
  padding-top: 15px;
  display: inline-block;
}

#submit-block {
  padding-top: 15px;
}
